---
const {style} = Astro.props
---

<div class="project-badge" style={style}>
  <slot/>
</div>

<style>
  .project-badge {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    gap: 0.5rem;
    font-size: small;
    display: flex;
    align-items: center;
    border: 1px solid currentColor;
    justify-content: space-between;
  }
</style>