---
import LinkButton from "../common/LinkButton.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import GolangIcon from "../icons/GolangIcon.astro";
import LinkIcon from "../icons/LinkIcon.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import ProjectBadge from "./ProjectBadge.astro";
import ProjectCard from "./ProjectCard.astro";
---

<ProjectCard name="Social Readers">
  <div class="image-container" slot="project-image">
    Working On!
  </div>
  <div class="project-badges-list" slot="badge-list">
      <ProjectBadge style="background-color: #2190FF; color: white;">
        <GolangIcon style="width: 20px; height: 20px;"/>
        Golang
      </ProjectBadge>
      <ProjectBadge style="color: #00D8FF;">
        <ReactIcon style="width: 20px; height: 20px;"/>
        React
      </ProjectBadge>
  </div>
  <p>
    Comparte, comenta, recomienda diferentes libros, encuentra tu siguiente libro para leer y escribe reviews sobre ellos.
    El objetivo de este proyecto era comprobar la escalibidad que podia conseguir. 
  </p>
  <div class="project-link">
    <LinkButton link="https://github.com/aperezgdev/social-readers" style="color: white; background-color: black;">
      <GithubIcon style="fill: white;"/> Code
    </LinkButton>
    <LinkButton>
      <LinkIcon/> Visitar
    </LinkButton>
  </div>
</ProjectCard>

<style>
  .project-badges-list {
    display: flex;
    gap: 1rem;
    margin-top: -1rem;
  }
  .project-link {
    display: flex;
    gap: 1rem;
    margin-top: auto;
  }

  .image-container {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 1.2rem;

    height: 200px;
    background-color:rgb(218,218,218);
  }
</style>