<header>
  <div>
    <span>
    APEREZG.DEV
    </span>
    <nav>
      <a href="#aboutme">Sobre mi</a>
      <a href="#experience">Carrera</a>
      <a>Proyectos</a>
      <a>Publicaciones</a>
    </nav>
  </div>
</header>

<style>
  header {
    margin-bottom: 4rem;
    position: sticky;
    top: 0;
  }
  header > div {
    display: flex;
    padding: 1rem;
    width: 70vw;
    margin: auto auto;
    justify-content: space-between;
  }
  nav {
    display: flex;
  }
  a {
    margin-inline: 1rem;
    cursor: pointer;
    color: #717171;
    text-decoration: none;
    display: inline-block;
    transition: color 0.1s;
    font-weight: 500;
  }
  a:hover {
    color: black;
  }
  span {
    font-weight: 600;
  }
</style>
