<script>
  const navLinks = document.querySelectorAll('nav > a')
  window.addEventListener('scroll', () => {
    const sections = document.querySelectorAll<HTMLElement>('main > article')

    let currentSection = ''

    sections.forEach(section => {
      const sectionTop = section.offsetTop
      if (pageYOffset >= sectionTop - 100) {
        currentSection = section.getAttribute('id') || ''
      }
    });

    if ((window.innerHeight + window.scrollY) >= document.body.offsetHeight) {
      currentSection = sections[sections.length - 1].getAttribute('id') || ''
    }

    if(currentSection === '') return

    navLinks.forEach(link => {
      link.classList.remove('active')
      const href = link.getAttribute('href')
      if (href && href.substring(1) === currentSection) {
        link.classList.add('active')
      }
    })
  })

  navLinks.forEach((link) => {
    link.addEventListener('click', (ev) => {
      const clickedLink = ev.target
      if(clickedLink) {
        const activeLink = document.querySelector('.active')
        if (activeLink) {
          (clickedLink as HTMLElement).classList.toggle('active')
          activeLink.classList.toggle('active')
        }
      }
    })
  })
</script>


<header>
  <div>
    <a id="home-link" href="/">
    <span>
    APEREZG.DEV
    </span>
  </a>
    <nav>
      <a class="active" href="#aboutme">Sobre mi</a>
      <a href="#experience">Carrera</a>
      <a href="#projects">Proyectos</a>
      <a href="#posts">Publicaciones</a>
    </nav>
  </div>
</header>

<style>
  .active {
    color: black;
  }

  header {
    margin-bottom: 4rem;
    position: sticky;
    top: 0;
  }
  header > div {
    display: flex;
    padding: 1rem;
    width: 70vw;
    margin: auto auto;
    justify-content: space-between;
  }
  header {
    display: flex;
  }
  a {
    margin-inline: 1rem;
    cursor: pointer;
    color: #717171;
    text-decoration: none;
    display: inline-block;
    transition: color 0.1s;
    font-weight: 500;
  }
  a:hover {
    color: black;
  }

  a#home-link {
    text-decoration: none;
    color: black;
  }

  span {
    font-weight: 600;
  }
</style>
