---
import { getCollection } from "astro:content"
import Title from "./common/Title.astro"
import PostCard from "./Posts/PostCard.astro"

const posts = await getCollection('posts')
---

<article id="posts">
  <Title>Publicaciones</Title>
  <div id="posts-list">
    {
      posts.map(post => 
        <PostCard slug={post.data.slug} title={post.data.title}/>
      )
    }
  </div>
</article>

<style>
  #posts-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15rem;
  }
</style>