---
const {style, link} = Astro.props
---
{
  link ?
  <a href={link} target="_blank">
      <div style={style}>
        <slot/>
      </div>
    </a> :
  <div style={style} class="disabled">
    <slot/>
  </div>
}

<style>
  a {
    text-decoration: none;
    color: currentColor;
    display: flex;
    align-items: center;
  }

  div {
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid currentColor;
    justify-content: space-between;
  }

  .disabled {
    cursor: not-allowed;
  }
</style>