---
import '@fontsource/inter'
import Header from '../components/common/Header.astro'

const {title} = Astro.props
---

<html lang=es>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header/>
    <main id="content">
      <slot/>
    </main>
  </body>
</html>

<style is:global>
  body {
    font-family: 'Inter', sans-serif;
    background-image: radial-gradient(rgba(235, 235, 235, 0.3) 2px, transparent 2px), radial-gradient(rgba(235, 235, 235, 0.8) 2px, transparent 2px);
    background-size: 32px 32px;
    background-position: 0 0, 16px 16px;
    background-color: #f3f3f3;
    margin: 0;
  }
  #content {
    width: 60vw;
    margin: auto auto;
    display: flex;
    flex-direction: column;
  }

  main > article {
    margin-bottom: 5rem;
  }
</style>